.component {
  height: 100%;
  display: flex;
}

.contentWrapper {
  width: 100%;
  overflow: auto;
}

.activeNav {
  background-color: var(--sidebar-background-active);
  border-left: 8px solid var(--primary);
}

.nav {
  background-color: var(--sidebar-background);
  box-shadow: 3px 0 3px black;
  margin-right: 1.5rem;
}

.sidebarItem {
  height: 3em;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.text {
  font-size: 1.5rem;
  margin-left: 1rem;
}
