@import '~@forevolve/bootstrap-dark/scss/bootstrap-dark.scss';

// ============ BASE ===========

html,
body {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
:root {
  // from the current bootstrap theme, it doesn't seem to have a variable defined
  --text-color: #d3d3d3;
  --sidebar-background: #222426;
  --transaction-row-background: #222224;
  --sidebar-background-active: #101517;
  --background-color: #191d21;
}

// ====== GLOBAL SCROLLBAR STYLE ======

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: var(--theme-scrollbar-thumb-background);
    border: 7px solid transparent;
    border-radius: 12px;
    // stylelint-disable-next-line
    &:vertical {
      // This ensures that the scroll bar never shrinks too much
      min-height: 30px;
    }
    &:hover {
      background-color: var(--theme-scrollbar-thumb-background-hover);
    }
  }
}

// General text formatting

strong {
  font-family: var(--font-medium);
}
[role='button'] {
  cursor: pointer;
}
