@import '../../../generalStyling.scss';

.transactionItem {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  div {
    padding: 1% 0%;
  }
  box-shadow: 0 0 4px 0px grey;
}
