// Colors

$black: #000;
$white: #fff;
$grey: #b3bec5;
$dark-grey: #94a8c2;
$darker-grey: #212529;
$medium-grey: #c5d0de;
$light-grey: #f3f6f8;

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#router {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  color: $darker-grey;
}

.basicLink {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $darker-grey;
  text-decoration: none;
  cursor: pointer;
  :hover {
    color: $light-grey;
  }
}

.keyValueTable {
  tr {
    td {
      width: 50%;
    }
  }
  width: 100%;
  padding: 0.5%;
}

.entityInfoContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px 1px grey;
  padding: 1%;
  width: 80%;
}

.entityInfoTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
