// Colors

$black: #000;
$white: #fff;
$grey: #b3bec5;
$dark-grey: #94a8c2;
$darker-grey: #212529;
$medium-grey: #c5d0de;
$light-grey: #f3f6f8;

#router {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  color: $darker-grey;
}

.basicLink {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $darker-grey;
  text-decoration: none;
  cursor: pointer;
  :hover {
    color: $light-grey;
  }
}

.keyValueTable {
  tr {
    td {
      width: 50%;
    }
  }
  width: 100%;
  padding: 0.5%;
}
