@import '../../generalStyling.scss';

.transactionInfo {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px 1px grey;
  padding: 1%;
  width: 80%;
}

.transactionInfoContainer {
  tr {
    td {
      width: 50%;
    }
  }
  width: 100%;
  padding: 0.5%;
}
